<div class="dialog-container">
    <form class="event-form">
        <div fxLayout="row">
            <div fxFlex="25">
                <mat-form-field class="full-w">
                    <mat-label>Event ID</mat-label>
                    <input matInput placeholder="ID" [disabled]="true" [(ngModel)]="e.ID" name="ID">
                </mat-form-field>
            </div>
            <div fxFlex="75">
                <mat-form-field class="full-w">
                    <mat-label>Event Title</mat-label>
                    <input matInput placeholder="Title" [disabled]="!(editMode || addMode)" [(ngModel)]="e.Title" name="Title">
                </mat-form-field>
            </div>
        </div>
        <mat-form-field class="full-w">
            <mat-label>Data Create</mat-label>
            <input matInput placeholder="" [disabled]="true" [(ngModel)]="e.DateCreate" name="DateCreate">
        </mat-form-field>
        <mat-form-field class="full-w">
            <mat-label>Event Type</mat-label>
            <mat-select [(value)]="e.ID_Type" [disabled]="!(editMode || addMode)">
                <mat-option *ngFor="let et of eventsType" [value]="et.ID">
                    {{ et.TypeName }}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <div fxLayout="row">
            <div fxFlex="50">
                <mat-form-field class="full-w">
                    <mat-label>From</mat-label>
                    <input matInput [matDatepicker]="DateStartPicker" [disabled]="!(editMode || addMode)" [(ngModel)]="e.DateStart" name="DateStart">
                    <mat-datepicker-toggle matIconSuffix [for]="DateStartPicker"></mat-datepicker-toggle>
                    <mat-datepicker #DateStartPicker [disabled]="!(editMode || addMode)"></mat-datepicker>
                </mat-form-field>
            </div>
            <div fxFlex="50">
                <mat-form-field class="full-w">
                    <mat-label>To</mat-label>
                    <input matInput [matDatepicker]="DateEndPicker" [disabled]="!(editMode || addMode)" [(ngModel)]="e.DateEnd" name="DateEnd">
                    <mat-datepicker-toggle matIconSuffix [for]="DateEndPicker"></mat-datepicker-toggle>
                    <mat-datepicker #DateEndPicker [disabled]="!(editMode || addMode)"></mat-datepicker>
                </mat-form-field>
            </div>
        </div>
    </form>
    <div fxLayout="row">
        <div fxFlex="100" *ngIf="!editMode && !addMode">
            <button mat-raised-button color="primary" (click)="changeMode(true)" class="full-w">
                <mat-icon>edit</mat-icon>
            </button>
        </div>
        <div fxFlex="50" *ngIf="editMode || addMode">
            <button mat-raised-button color="primary" (click)="changeMode(true)" class="full-w">
                <mat-icon>check</mat-icon>
            </button>
        </div>
        <div fxFlex="50" *ngIf="editMode || addMode">
            <button mat-raised-button color="warn" (click)="changeMode(false)" class="full-w">
                <mat-icon>close</mat-icon>
            </button>
        </div>
    </div>
</div>