<div layout="row">
    <div class="mat-elevation-z8">
        <table mat-table [dataSource]="eventsDataSource" #eventTableSort>
    
            <ng-container matColumnDef="ID">
                <th mat-header-cell *matHeaderCellDef class="colum-w-s"> # </th>
                <td mat-cell *matCellDef="let event" class="colum-w-s" sticky> 
                    <div fxLayout="row" fxLayoutAlign="center center">
                        <span class="inline-with-btn">{{event.id}}</span>
                    </div>                    
                </td>
            </ng-container>
    
            <ng-container matColumnDef="Title">
                <th mat-header-cell *matHeaderCellDef> Title </th>
                <td mat-cell *matCellDef="let event"> {{event.title}} </td>
            </ng-container>
    
            <ng-container matColumnDef="TypeName">
                <th mat-header-cell *matHeaderCellDef> Event Type Name </th>
                <td mat-cell *matCellDef="let event"> {{event.typename}} </td>
            </ng-container>
    
            <ng-container matColumnDef="DateStart">
                <th mat-header-cell *matHeaderCellDef> Date Start </th>
                <td mat-cell *matCellDef="let event"> {{UtilityFunction.formatDate(event.datestart)}} </td>
            </ng-container>
    
            <ng-container matColumnDef="DateEnd">
                <th mat-header-cell *matHeaderCellDef> Date End </th>
                <td mat-cell *matCellDef="let event"> {{UtilityFunction.formatDate(event.dateend)}} </td>
            </ng-container>
    
            <ng-container matColumnDef="Controls" stickyEnd>
                <th mat-header-cell *matHeaderCellDef>  </th>
                <td mat-cell *matCellDef="let event">  
                    <button mat-icon-button color="primary" (click)="showDetail(event)">
                        <mat-icon>edit</mat-icon>
                    </button>
                    <button mat-icon-button color="primary" (click)="showAddNewEvent()">
                        <mat-icon>add_circle_outline</mat-icon>
                    </button>
                    <button mat-icon-button color="warn" (click)="deleteEvent(event)">
                        <mat-icon>delete</mat-icon>
                    </button>
                </td>
            </ng-container>
    
            <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            
        </table>
        <div fxLayout="row" fxLayoutAlign="center center">
            <div fxFlex="20" *ngIf="eventsDataSource.data.length == 0">
                <button mat-flat-button color="primary" (click)="showAddNewEvent()">
                    Add Event
                </button>
            </div>
            <div fxFlex="80">
                <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons aria-label="Select page" #eventTablePaginator> </mat-paginator>
            </div>
        </div>
    </div>
</div>
