<main>
    <div class="bk-lightgray">
        <p class="pad-m title">
            Events Table
        </p>
    </div>
    <div style="margin: 0% 2%;">
        <app-event-table></app-event-table>
    </div>
</main>
<footer class="bk-gray" style="margin-top: 24px;">
    <div fxLayout="row" fxLayoutAlign="space-around center">
        <div class="pad-m" fxLayout="column" fxFlex="30">
            Federico Campanozzi 2023
        </div>
        <div class="row pad-m" fxLayout="column" fxFlex="40">
            Event System Angular + Express
        </div>
        <div class="pad-m" fxLayout="column" fxFlex="30">
            <div fxLayout="row">
                <div fxLayout="column" fxFlex="50">
                    <a href="https://www.youtube.com/watch?v=1y9ClWEOIk8&t=1630s" >Tutorial</a>
                </div>
                <div fxLayout="column" fxFlex="50">
                    <a href="https://www.youtube.com/watch?v=5bVr10umz2o&t=175s" fxFlex="50">Hosting</a>
                </div>
            </div>
        </div>
    </div>
</footer>