<main>
    <div class="bk-lightgray">
        <p class="pad-m title">
            Events Table
        </p>
    </div>
    <div style="margin: 0% 2%;">
        <app-event-table></app-event-table>
    </div>
</main>
<footer class="bk-gray" style="margin-top: 24px;">
    <div fxLayout="row" fxLayoutAlign="space-around center">
        <div class="pad-m" fxLayout="column" fxFlex="50">
            Federico Campanozzi 2023
        </div>
        <div class="row pad-m" fxLayout="column" fxFlex="50">
            Event System 
            <br />
            Angular + Express
        </div>
    </div>
</footer>